@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



body{
    font-family: 'Open Sans', sans-serif;
}



/*Navbar*/
.bg-danger{
    background-color: #E83E8C!important;
}

.navbar-brand{
    width: 8rem;
}

.navbar-brand img{
    width: 100%;
}


/*Cards Section*/
.card{
    width: 75%;
    margin-left: 3rem;
}

.card-body h5{
    font-weight: 700;
}


.fs-7{
    font-size: 14px;
}


/*Blue section*/
#blue-section{
    background-color: #17A2B8!important;
}


/*Footer*/
footer img{
    width: 5%;
}




@media (max-width: 768px){
    .navbar{
        height: 10rem;
    }

    .navbar-brand{
        width: 1rem;
    }

    #card-section h1{
        font-size: 45px;
    }


    .card{
        width: 100%;
        margin-left: 0;
    }

    footer img{
        width: 10%;
    }
}